*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
}
body{
    height: 100vh;
    display: flex;
    align-items:center ;
    justify-content: center;
}

.container{
   background-color: rgba(0, 255, 255, 0.145);
   padding: 2rem;
   border-radius: 1rem;
}
.container .count{
    text-align: center;
    font-size: 4rem;
    font-weight: 1rem;
}
.buttons button{
    width: 7rem;
    padding: 1 rem;
    margin: 0 1 rem;
    font-size: 1.5rem;
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
}
.subtration{
    color: white;
    background-color: green;

}
.reset{
    color: white;
    background-color: rgb(217, 0, 0);
}
.Add{
    color: white;
    background-color: blueviolet;
}
.buttons button:hover{
    background-color: blue;
    font-size: larger;
}